@import "reset";
@import "variable/variable";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Varela&display=swap");
* {
  font-family: "Noto Sans TC", sans-serif;
}

/* 反白選取樣式 */
::-moz-selection {
  background-color: rgba(color(primary-200), 0.8);
}

::selection {
  background-color: rgba(color(primary-200), 0.8);
}

::-webkit-scrollbar {
  width: px(5);
  background-color: transparent;
  @include rounded(100);
}

::-webkit-scrollbar-thumb {
  width: px(5);
  background-color: color(gray-150);
  @include rounded(100);
}

body {
  background-color: color(gray-0);
  color: color(gray-900);

  &:has(.overlay) {
    overflow: hidden;
  }
}

@import "components/button";
@import "components/datepicker";
@import "components/divider";
@import "components/input";
@import "components/list";
@import "components/marquee";
@import "components/overlay";
@import "components/popup";
@import "components/select";
@import "components/tab";
@import "components/tag";
@import "components/textlink";

@import "layout/header";
@import "layout/footer";
@import "layout/layout";

@import "pages/login";
@import "pages/other-pages";
