.login-page {
  min-height: 100dvh;
  background: linear-gradient(
    to bottom,
    color(primary-800),
    color(primary-900)
  );
  display: flex;
  align-items: center;
  justify-content: center;

  .login-container {
    width: px(1000);
    background-color: color(gray-0);
    @include rounded(40);
    padding: spacing(4);
    display: flex;

    .imagery {
      @include rounded(40);
      background-color: color(primary-800);
      padding: spacing(36) spacing(0);
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
    }

    .login-methods {
      width: px(540);
      padding: spacing(72) spacing(36) spacing(28);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: spacing(120);

      .login-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: spacing(64);
        min-height: px(360);

        .login-title {
          img {
            width: px(40);
            margin-bottom: spacing(24);
          }

          p {
            color: color(gray-600);
            margin-top: spacing(4);
            @include fontRWD(body3, fontweight(Medium));
          }
        }

        .login-action {
          .login-desc {
            background-color: color(gray-50);
            @include rounded(12);
            @include fontRWD(body4);
            color: color(gray-600);
            padding: spacing(16) spacing(16);
            margin-bottom: spacing(20);

            b {
              @include fontRWD(body4, fontweight(Bold));
              color: color(gray-800);
            }
          }

          button {
            width: 100%;
          }
        }
      }

      .login-terms {
        text-align: center;
        @include fontRWD(body4);
        color: color(gray-600);

        a {
          span {
            @include fontRWD(body4);
          }
        }
      }
    }
  }

  > .marquee {
    display: none;
  }

  @include max-to(desktop) {
    .login-container {
      width: calc(100dvw - px(32));
      min-width: px(720);

      .login-methods {
        width: calc((100dvw - px(32)) * 0.6);
      }
    }
  }

  @include max-to(mobile) {
    position: relative;
    flex-wrap: wrap;
    gap: spacing(44);

    .login-container {
      width: 100dvw;
      min-width: auto;
      flex-direction: column;
      background-color: transparent;
      padding: spacing(16);

      .imagery {
        .logo {
          height: px(44);
        }
        .marquee {
          display: none;
        }
      }

      .login-methods {
        background-color: color(gray-0);
        width: 100%;
        @include rounded(40);
        padding: spacing(40) spacing(28) spacing(28);
        gap: spacing(40);

        .login-content {
          gap: spacing(40);
          justify-content: space-between;
          min-height: px(350);

          .login-title {
            h3 {
              @include fontRWD(h1);
            }
          }
        }
      }
    }

    > .marquee {
      display: flex;
    }
  }
}
