// 尺寸
@function px($key) {
  @return calc($key / 16 * 1rem);
}

// 間距設定
@function spacing($key) {
  @return calc($key / 16 * 1rem);
}

// 導圓角
@mixin rounded($lt, $rt: $lt, $rb: $lt, $lb: $lt) {
  border-radius: px($lt) px($rt) px($rb) px($lb);
}

// 字體大小
@mixin fontsize($key) {
  font-size: px($key);
}

// 邊框
@mixin border($color, $size: px(1), $direction: null) {
  @if $direction == top {
    border-top: $size solid $color;
  } @else if $direction == bottom {
    border-bottom: $size solid $color;
  } @else if $direction == right {
    border-right: $size solid $color;
  } @else if $direction == left {
    border-left: $size solid $color;
  } @else {
    border: $size solid $color;
  }
}
